.container {
  margin: 40px auto;
}

h1 {
  font-size: 250%;
  margin: 0 0 20px;
}

p,li,#hero {
  font-size: 16px;
  margin: 20px 0;
}

#hero {
  position: relative;
  height: 516px;
  background: #ffffff url(loading.gif) no-repeat center center;
  border: 1px solid #ccc;
}

#hero .btn {
            position: absolute;
              bottom: 220px;
             padding: 30px 50px;
           font-size: 1.3em;
         font-weight: bold;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, .7);
     -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, .7);
          box-shadow: 0 3px 10px rgba(0, 0, 0, .7);
}

#hero .btn.canal {
  left: 100px;
}

#hero .btn.park {
  right: 100px;
}
